<!DOCTYPE html>
<html>
	<head th:include="common :: frag_head">
	</head>
	<body>
		<script>
			$(function() {
				$('#btnRegisterDateHistory').click(function(e) {
					$('.now-loading').show();
					
					$.ajax({
						type: "GET",
						url : "/batch/registerDateHistory",
						data: {},
						dataType: "json",
						success : function(data) {
							if(data['result']) {
								alert("株価日付テータ登録が完了しました");
							} else {
								alert("株価日付テータ登録に失敗しました");
							}
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							alert("株価日付テータ登録に失敗しました");
						}
					}).always(function(processedDataOrXHRWrapper, textStatus, xhrWrapperOrErrorThrown) {
						$('.now-loading').hide();
					});
				});
				
				$('#btnRegisterAvg').click(function(e) {
					$('.now-loading').show();
					
					$.ajax({
						type: "GET",
						url : "/batch/registerAvg",
						data: {},
						dataType: "json",
						success : function(data) {
							if(data['result']) {
								alert("株価平均テータ登録が完了しました");
							} else {
								alert("株価平均テータ登録に失敗しました");
							}
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							alert("株価平均テータ登録に失敗しました");
						}
					}).always(function(processedDataOrXHRWrapper, textStatus, xhrWrapperOrErrorThrown) {
						$('.now-loading').hide();
					});
				});
				
				$('#btnRegisterCross').click(function(e) {
					$('.now-loading').show();
					
					$.ajax({
						type: "GET",
						url : "/batch/registerCross",
						data: {},
						dataType: "json",
						success : function(data) {
							if(data['result']) {
								alert("ゴールデンクロステータ登録が完了しました");
							} else {
								alert("ゴールデンクロステータ登録に失敗しました");
							}
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							alert("ゴールデンクロステータ登録に失敗しました");
						}
					}).always(function(processedDataOrXHRWrapper, textStatus, xhrWrapperOrErrorThrown) {
						$('.now-loading').hide();
					});
				});
				
				$('#btnRegisterAnalyze').click(function(e) {
					$('.now-loading').show();
					
					$.ajax({
						type: "GET",
						url : "/batch/registerAnalyze",
						data: {},
						dataType: "json",
						success : function(data) {
							if(data['result']) {
								alert("売買結果登録が完了しました");
							} else {
								alert("売買結果登録に失敗しました");
							}
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							alert("売買結果登録に失敗しました");
						}
					}).always(function(processedDataOrXHRWrapper, textStatus, xhrWrapperOrErrorThrown) {
						$('.now-loading').hide();
					});
				});
				
			});
		</script>

		<div th:include="common :: header">
		</div>
		<div style="padding: 50px 10% 50px 10%;">
			<table class="table">
				<tbody>
					<tr>
						<td style="width: 80%">
							株価日付テータ登録
						</td>
						<td style="width: 20%">
							<a id="btnRegisterDateHistory" type="button" class="btn btn-success" >
								実行
							</a>
						</td>
					</tr>
					<tr>
						<td style="width: 80%">
							株価平均テータ登録
						</td>
						<td style="width: 20%">
							<a id="btnRegisterAvg" type="button" class="btn btn-success" >
								実行
							</a>
						</td>
					</tr>
					<tr>
						<td style="width: 80%">
							ゴールデンクロステータ登録
						</td>
						<td style="width: 20%">
							<a id="btnRegisterCross" type="button" class="btn btn-success" >
								実行
							</a>
						</td>
					</tr>
					<tr>
						<td style="width: 80%">
							売買結果登録
						</td>
						<td style="width: 20%">
							<a id="btnRegisterAnalyze" type="button" class="btn btn-success" >
								実行
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:include="common :: now-loading">
		</div>
	</body>
</html>