<!DOCTYPE html>
<html>
	<head th:include="common :: frag_head">
	</head>
	<body>
		<div style="padding: 50px 10% 50px 10%;">
			<table class="table">
				<tbody>
					<tr>
						<td style="width: 80%">
							バッチ実行
						</td>
						<td style="width: 20%">
							<a type="button" class="btn btn-primary" href="/batch">
								→
							</a>
						</td>
					</tr>
					<tr>
						<td style="width: 80%">
							ログ確認
						</td>
						<td style="width: 20%">
							<a type="button" class="btn btn-primary" href="/log">
								→
							</a>
						</td>
					</tr>
					<tr>
						<td style="width: 80%">
							ゴールデンクロス
						</td>
						<td style="width: 20%">
							<a type="button" class="btn btn-primary" href="/cross">
								→
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div style="padding: 50px 5% 50px 5%;">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Count</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="count : ${countByPriceDate}">
							<td style="width: 35%" th:text="${count.priceDate}"></td>
							<td style="width: 65%" th:text="${count.count}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>