div.react-datepicker-wrapper input {
  padding: 4px;
  border-radius: 4px;
  border-color: #dddddd;
  direction: ltr;
}

div.loading {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  opacity: 0.8;
  text-align: center;
}

div.loading .loading-contents {
  position: absolute;
  opacity: 1;
  background-color: black;
  color: #ffffff;
  width: 30%;
  height: 50px;
  padding: 10px 20px;
  font-size: 16px;
  top: 40%;
  left: 35%;
}
